*{
    padding: 0;
    margin: 0;
}
html{
    font-size: xx-small;
}

body{

    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;

}
.contaner{
    
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: 20px;
    display: flex;
    justify-content: center;
    height: 800px;
}
.contact-container{
    width: 180px;

}
.contect{
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
}
.phon{
    padding: 5px 0px;
}
.personalifo{
    width: 250px;
    height: 800px;
    background-color: black;
    padding: 20px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.profile{
    margin: 5px 0px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 5px solid whitesmoke;
    
}
.education{
    width: 180px;

}
.ed-head{
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-small;
}
input[type="file"] {
    display: none;
  }
.leftfm input[type="text"]{
    min-height: 15px;
    /* border: none; */
    border-radius: 5px;
    width: 100%;
}
.leftfm input:focus[type="text"]{
   
    outline: none;
}
.rightfm input[type="text"]{
    min-height: 10px;
    width: 100%;
}

.rightfm textarea{
    min-height: 10px;
    width: 100%;
}
.rightfm input textarea:focus[type="text"]{
    outline: none;
}



.profile-edit{
    width: 10px;
    cursor: pointer;
}
.userwhite{
    background-color: white;
    border-radius: 100px;
    padding: 2px;
}
  
.ed-body{
    display: flex;
    margin: 10px 0px;
    
}
  
.skill-head{
    margin: 5px 0px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
}
.skill-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.skilname{
    width: 25px;
}
.skill-bar,.skill-bar2,.skill-bar3,.skill-bar4{
    height: 3px;
    border: red;
    background-color: var(--main-color);
    width: 100px;
    /* max-width: 100px; */
}





/* PROFASSIONAL */

.profassion{
    width: 375px;
  height: 800px;
}
.nameinfo{
    background: var(--main-color);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 150px;
    /* width: calc(80vw - 380px); */
    margin-top:25px;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    padding:25px;
    box-sizing: border-box;
}
.name h1{
    font-size: 2vw;
}
.name p{
    font-size: 1vw;
    text-decoration: underline;
}


.profasional-heading{
    font-size: x-small;
    display: flex;
    justify-content: space-between;
}

.profasional-profile{
    margin: 25px;
}
.profasional-profile p{
    font-size: xx-small;
    margin: 15px 0px;
}

.work-experience{
    margin: 25px;
}


.work-experience p{
    font-size: xx-small;
    margin: 15px 0px;
}
.tamplate{
    position: relative;
    width: 547px;
}


/* form */
.boxfm{
    margin:20px;
        width: 650px;
        font-size: small;
        color:white;
        background-color: rgb(0, 0, 0);
        
}
.boxfm h1{
    margin-top: 50px;
}
.boxfm input{
    margin-bottom: 5px;
    padding: 3px;
    margin-top: 2px;
}
.boxfm textarea{
    margin-top: 2px;
}
.heading-fm{
    margin-top: 3px;
    text-align: center;
    font-size: 2rem;
}

.containerfm{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    width: 650px;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}



.leftfm{
    display: grid;
    width: 40%;
    grid-row-gap: 1px;
}
.rightfm{
        display: grid;
        width: 45%;   
       
}



.profilep{
    margin: 25px;
    color: var(--main-color);
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}



.margin-top{
    margin-top: 3px;
}

.fix{
    overflow-wrap: break-word;
}


.rightfm h1{
    font-size: 2rem;
}
.leftfm h1{
    font-size: 2rem;
}
.prlable{
    display: flex;
    justify-content: start;
    align-items: center;
}
.prlable p{
    font-size: x-small;
}

.inputcontrol {
    display: flex;
    flex-direction: column;
}

.inputcontrol input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}
.inputcontrol textarea {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}
.inputcontrol textarea:focus {
    outline: 0;
}
.inputcontrol.success textarea {
    border-color: #09c372;
}
.inputcontrol.error textarea {
    border-color: #ff3860;
}
.inputcontrol input:focus {
    outline: 0;
}

.inputcontrol.success input {
    border-color: #09c372;
}

.inputcontrol.error input {
    border-color: #ff3860;
}

.inputcontrol .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

#file-upload{
    visibility:hidden;
    height: 0px;
}

