







.inputbar{
 
    border-radius: 5px;
    width: 6rem;
}
.inputbar:focus{
 outline: none;
}


.ex-body{
    margin:10px 0px;
display: flex;

}
.profile-edit{
    background: white;
    border-radius: 100%;
    padding:1.2rem;
    display: none;
}


.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 1.2rem 4rem;
  background-color: #3C6E71;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.9em;
  text-align: center;
  text-indent: 2rem;
  border-radius: 5px;
  cursor: pointer;
  }
  .dispnone{
    display: none;
  }
  
  .buttonDownload:hover {
    background-color: #333;
    color: rgb(0, 0, 0);
  }
  
  .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 3rem;
    top: 52%;
  }
  
  
  .buttonDownload:before {
    width: 1.4rem;
    height: 0.4rem;
    border-style: solid;
    border-width: 0 0.3rem 0.3rem;
  }
  
  
  .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    
    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
  }
  
  .buttonDownload:hover:before {
    border-color: var(--main-color);
  }
  
  .buttonDownload:hover:after {
    border-top-color: var(--main-color);
    animation-play-state: running;
  }
  
  /* keyframes for the download icon anim */
  @keyframes downloadArrow {
    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
      margin-top: -7px;
      opacity: 1;
    }
    
    0.001% {
      margin-top: -15px;
      opacity: 0;
    }
    
    50% {
      opacity: 1;
    }
    
    100% {
      margin-top: 0;
      opacity: 0;
    }
  }
